{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    #comparison {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #fff; /* White background for the box */
        padding: 20px; /* Padding inside the box */
        border-radius: 12px; /* Rounded corners */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for better distinction */
    }
    
    h1 {
        font-size: 28px;
        margin-bottom: 30px;
        color: #333;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        color: #666;
        margin-bottom: 15px;
        text-align: center;
    }

    .comparison-section {
        margin-bottom: 60px;
    }

    .comparison-container {
        display: flex;
        justify-content: center;
        gap: 40px; /* Space between images */
        flex-wrap: wrap;
    }

    .comparison-container div {
        flex: 1;
        max-width: 400px; /* Limit maximum width */
        min-width: 300px; /* Ensure images don’t get too small */
        text-align: center;
    }

    .comparison-container img {
        width: 100%;
        height: auto;
        border: 2px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow for better distinction */
        margin-bottom: 15px;
    }

    .figure-title {
        font-size: 18px;
        color: #444;
        margin-top: 5px;
    }

    .comparison-table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    .comparison-table, .comparison-table th, .comparison-table td {
        border: 1px solid #a1d99b;
    }

    .comparison-table th, .comparison-table td {
        padding: 10px;
        text-align: center;
    }

    .comparison-table th {
        background-color: #f4f4f4;
    }

    /* Styles for SIRES data */
    .siress-data {
        color: #006600;
    }

    .others {
        color: #FF0000;
    }

    .comparison-container img.siress-data {
        border: 2px solid #006600; /* Optional: Red border for SIRES images */
    }

    .comparison-container img.others {
        border: 2px solid #FF0000; /* Optional: Red border for SIRES images */
    }
</style>

<div id="comparison">
    <h1>SIRES vs. Microgrid with Diesel vs. Microgrid without Diesel</h1>

    <div class="comparison-section">
        <h2>Comparison of Key Metrics</h2>
        <table class="comparison-table">
            <tr>
                <th>Metric</th>
                <th>SIRES</th>
                <th>Microgrid with Diesel</th>
                <th>Microgrid without Diesel</th>
            </tr>
            <tr>
                <td>Annualized Cost of System</td>
                <td class="siress-data">${{ ACS|floatformat:2 }}</td>
                <td class="others">${{ ACS1|floatformat:2 }}</td>
                <td class="others">${{ ACSwd|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>Initial Cost</td>
                <td class="siress-data">${{ Initial_cost|floatformat:2 }}</td>
                <td class="others">${{ Initial_cost1|floatformat:2 }}</td>
                <td class="others">${{ Initial_costwd|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>Net Present Cost</td>
                <td class="siress-data">${{ NPC|floatformat:2 }}</td>
                <td class="others">${{ NPC1|floatformat:2 }}</td>
                <td class="others">${{ NPCwd|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>CO<sub>2</sub> emitted</td>
                <td class="siress-data">{{ CO2_emitted|floatformat:2 }} tons</td>
                <td class="others">{{ CO2_emitted1|floatformat:2 }} tons</td>
                <td class="others">{{ CO2_emittedwd|floatformat:2 }} tons</td>
            </tr>
            <tr>
                <td>Human Development Index (HDI)</td>
                <td class="siress-data">{{ HDI|floatformat:2 }}</td>
                <td class="others">{{ HDI1|floatformat:2 }}</td>
                <td class="others">{{ HDIwd|floatformat:2 }}</td>
            </tr>
            
        </table>

        <h2>Optimal Sizing of System Components</h2>
        <table class="comparison-table">
            <tr>
            <td>Solar PV </td>
            <td class="siress-data">{{ x_1|floatformat:2 }} kW</td>
            <td class="others">{{ x_1_diesel|floatformat:2 }} kW</td>
            <td class="others">{{ x_1_without_diesel|floatformat:2 }} kW</td>
            </tr>
            <tr>
                <td>Wind Turbines</td>
                <td class="siress-data">{{ x_2|floatformat:2 }} kW</td>
                <td class="others">{{ x_2_diesel|floatformat:2 }} kW</td>
                <td class="others">{{ x_2_without_diesel|floatformat:2 }} kW</td>
            </tr>
            <tr>
                    <td>Hydro power plant </td>
                    <td class="siress-data">{{ x_3|floatformat:2 }} kW</td>
                    <td class="others">{{ x_3_diesel|floatformat:2 }} kW</td>
                    <td class="others">{{ x_3_without_diesel|floatformat:2 }} kW</td>
            </tr>
            <tr>
                    <td>Biogas Generator </td>
                    <td class="siress-data">{{ x_4|floatformat:2 }} kW</td>
                    <td class="others">{{ x_4_diesel|floatformat:2 }} kW</td>
                    <td class="others">{{ x_4_without_diesel|floatformat:2 }} kW</td>
            </tr>
            <tr>
                <td>Battery Bank </td>
                <td class="siress-data">{{ x_5|floatformat:2 }} kVAh</td>
                <td class="others">{{ x_5_diesel|floatformat:2 }} kVAh</td>
                <td class="others">{{ x_5_without_diesel|floatformat:2 }} kVAh</td>
            </tr>
        </tr>
        <tr>
            <td>Diesel Generator </td>
            <td class="siress-data">- </td>
            <td class="others">{{ x_6_diesel|floatformat:0 }} kW </td>
            <td class="others">-</td>
        </tr>
        <tr>
            <td>Biogas water Pump </td>
            <td class="siress-data">{{ x_6|floatformat:0 }} </td>
            <td class="others">-</td>
            <td class="others">-</td>
        </tr>
        <tr>
            <td>Wind water Pump </td>
            <td class="siress-data">{{ x_7|floatformat:0 }} </td>
            <td class="others">-</td>
            <td class="others">-</td>
        </tr>
        <tr>
            <td>Solar water Pump </td>
            <td class="siress-data">{{ x_8|floatformat:0 }}</td>
            <td class="others">-</td>
            <td class="others">-</td>
        </tr>

        </table>
    </div>

    <div class="comparison-section">
        <h2>Generation Overview</h2>
        <div class="comparison-container">
            <div>
                <img src="data:image/png;base64,{{ chart6 }}" alt="SIRES Generation Overview" class="siress-data">
                <div class="figure-title">SIRES: Generation Overview</div>
            </div>
            <div>
                <img src="data:image/png;base64,{{ fig1 }}" alt="Microgrid with Diesel Generation Overview" class="others">
                <div class="figure-title">Microgrid with Diesel: Generation Overview</div>
            </div>
            <div>
                <img src="data:image/png;base64,{{ figwd1 }}" alt="Microgrid without Diesel Generation Overview" class="others">
                <div class="figure-title">Microgrid without Diesel: Generation Overview</div>
            </div>
        </div>
    </div>

    <div class="comparison-section">
        <h2>Electricity Load</h2>
        <div class="comparison-container">
            <div>
                <img src="data:image/png;base64,{{ chart2 }}" alt="SIRES Electricity Load" class="siress-data">
                <div class="figure-title">SIRES: Electricity Load</div>
            </div>
            <div>
                <img src="data:image/png;base64,{{ fig2 }}" alt="Microgrid with Diesel Electricity" class="others" >
                <div class="figure-title">Microgrid with Diesel: Electricity Load</div>
            </div>
            <div>
                <img src="data:image/png;base64,{{ figwd2 }}" alt="Microgrid without Diesel Electricity Load" class="others">
                <div class="figure-title">Microgrid without Diesel: Electricity Load</div>
            </div>
        </div>
    </div>

    <div class="comparison-section">
        <h2>Loss of Power</h2>
        <div class="comparison-container">
            <div>
                <img src="data:image/png;base64,{{ chart3 }}" alt="SIRES Loss of Power" class="siress-data">
                <div class="figure-title">SIRES: Loss of Power</div>
            </div>
            <div>
                <img src="data:image/png;base64,{{ fig3 }}" alt="Microgrid with Diesel Loss of Power" class="others">
                <div class="figure-title">Microgrid with Diesel: Loss of Power</div>
            </div>
            <div>
                <img src="data:image/png;base64,{{ figwd3 }}" alt="Microgrid without Diesel Loss of Power" class="others">
                <div class="figure-title">Microgrid without Diesel: Loss of Power</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
