<!--
    page that asks the user for information about their area
-->

{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'images/styles.css' %}">






<div id="content">
    <h2>Cost Optimization Tool For SIRES</h2>

    <form action="optimization" id="optimization-form">
        <div class="form-group">
            <h1>Solar Irradiation</h1>
            <label for="solar">How sunny is your area?</label>
            <div class="option-group">
                <p><input type="radio" name="solar" value="sunny">Sunny</p>
                <p><input type="radio" name="solar" value="partly_sunny">Partly Sunny</p>
                <p><input type="radio" name="solar" value="cloudy">Cloudy</p>
            </div>
        </div>

        <div class="form-group">
            <h1>Wind Energy</h1>
            <label for="wind">How windy is your area?</label>
            <div class="option-group">
                <p><input type="radio" name="wind" value="high_wind">High Wind</p>
                <p><input type="radio" name="wind" value="medium_wind">Medium Wind</p>
                <p><input type="radio" name="wind" value="low_wind">Low Wind</p>
            </div>
        </div>

        <div class="form-group">
            <h1>Hydropower</h1>
            <label for="hydropower">Does your area have any of the following?</label>
            <div class="option-group">
                <p><input type="checkbox" name="ponds" value="ponds">Ponds</p>
                <p><input type="checkbox" name="lakes" value="lakes">Lakes</p>
                <p><input type="checkbox" name="rivers" value="rivers">Rivers</p>
            </div>
        </div>

        <div class="form-group">
            <h1>Biogas</h1>
            <label for="biogas">Does your area have any of the following?</label>
            <div class="option-group">
                <p><input type="checkbox" name="cattle" value="cattle">Cattle</p>
                <p><input type="checkbox" name="agriculture" value="agriculture">Agriculture</p>
            </div>
        </div>

        <input type="submit">
    </form>
</div>



<div id="spinner" >
 
</div>

<script>

    document.getElementById("optimization-form").addEventListener("submit", function(event){
        console.log("Form submitted");
        document.getElementById("spinner").style.display = "block";
        document.getElementById("content").style.display = "none";
    });
    

    
    

</script>

{% endblock %}
