/* Global reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    padding: 20px;
}

/* Container for the content */
#content {
    max-width: 300px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Headings */
#content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #0066cc;
}

#content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: #004d99;
}

/* Paragraphs */
#content p {
    margin-bottom: 20px;
    color: #444;
    font-size: 18px;
    text-align: center;
}

/* Summary */
#summary {
    padding: 20px;
    background-color: #e6f7ff;
    border-left: 5px solid #0066cc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#summary p {
    margin-bottom: 10px;
    color: #003366;
    font-size: 18px;
}

/* Charts */
.chart-container {
    margin-bottom: 40px; /* Increased margin between chart containers */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chart-item {
    text-align: center;
    margin-bottom: 10px; /* Space between chart items */
}

.chart-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; /* Increased space between chart groups */
}

.chart-group img {
    width: 50%; /* Adjust image width as needed */
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Compare button */
#compare-button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50; /* Green button background */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; /* Adjust button width to fit content */
}

#compare-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
