/* Container for the content */
#content {
    max-width: 1200px; /* Adjust width as needed */
    margin: 20px auto;
    padding: 30px;
    background-color: #fff; /* White background for the content box */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

/* Headings */
#content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
     /* Green color for headings */
}

#content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
     /* Slightly different green color for subheadings */
}

/* Paragraphs and lists */
#content p, #content ul {
    margin-bottom: 20px;
    color: #555; /* Slightly darker gray color for text */
    font-size: 18px;
    text-align: justify;
}

/* Summary section */
#summary {
    padding: 20px;
    
    border-left: 5px solid ;
    border-radius: 5px;
    margin-bottom: 20px;
}

#summary ul {
    list-style-type: none; /* Remove bullets from list */
    padding: 0;
}

#summary li {
    margin-bottom: 10px;
    
}

/* Charts */
.chart-container {
    margin-bottom: 40px; /* Margin between chart containers */
    padding: 20px;
    
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Flex container for chart groups */
.chart-group {
    display: flex;
    justify-content: space-between; /* Space between charts */
    flex-wrap: wrap; /* Allow wrapping to new line if needed */
}

.chart-item {
    flex: 1 1 48%; /* Flex-grow, flex-shrink, and flex-basis for spacing */
    margin: 10px; /* Margin for spacing between charts */
    text-align: center;
}

.chart-group img {
    width: 100%; /* Use full width of the chart item */
    max-width: 100%; /* Ensure images don’t overflow */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Compare button */
#compare-button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50; /* Green button background */
    color: white;
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; /* Adjust width to fit content */
}

#compare-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
